/* Global */

body {
    margin: 0px;
    padding: 0px;
}


/* Chessboard Related */

.container {

}

#board-container {
    width: 100vh;
    height: 100vh;
    background-color: grey;
}


/* Chat Related */

#chat-container {

}
#chat-input {
    
}

.figure {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 1000px;
    top: 100px
}